<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title><%= user.username %></title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="/styles/global.css">
    <link rel="stylesheet" type="text/css" href="/styles/layout.css">
    <link rel="stylesheet" type="text/css" href="/styles/shadow.css">
    <link rel="stylesheet" type="text/css" href="/styles/feed.css">
    <link rel="stylesheet" type="text/css" href="/styles/user.css">
    <link rel="stylesheet" type="text/css" href="/styles/home.css">
  </head>

  <body fullbleed fit>

    <div masthead layout-horizontal layout-center shadow elevation="1">

      <div name layout-horizontal layout-center layout-center-justified><strong><%= web.name %></strong></div>

      <a href="/" tab layout-horizontal layout-center>
        <div>Home</div>
        <div underline></div>
      </a>

      <% if ( self._id ) { %>

      <a href="/mentions" tab layout-horizontal layout-center>
        <div>Mentions</div>
        <div underline></div>
      </a>

      <a href="/friends" tab layout-horizontal layout-center>
        <div>Friends</div>
        <div underline></div>
      </a>

      <% } %>

      <div flex></div>

      <input id="search" placeholder="Enter username to view profile..."/>

      <% if ( self._id ) { %>

      <a href="/logout" tab layout-horizontal layout-center>
        <div>Logout</div>
        <div underline></div>
      </a>

      <% } %>

    </div>

    <div content>
      <div layout-horizontal layout-center-justified>
        <div layout-vertical>

          <% if ( user._id === self._id ) { %>

          <div compose-tweet layout-vertical shadow elevation="1">
            <textarea tweet-input rows="1" placeholder="What's happening?"></textarea>
          </div>

          <% } else { %>

          <div id="<%= user._id %>" user-profile layout-vertical shadow elevation="1">

            <div header layout-horizontal layout-center>

              <div title>Profile</div>
              <div flex></div>

              <% if ( self._id && !following ) { %>
              <div button follow><span>Follow</span></div>
              <% } %>

              <% if ( self._id && following ) { %>
              <div button follow active><span>Following</span></div>
              <% } %>

            </div>

            <div name>
              <strong><%= user.name %></strong> <a href="/<%= user.username %>">@<%= user.username %></a>
            </div>

          </div>

          <% } %>

          <div feed shadow elevation="1">

            <div header layout-horizontal layout-center>
              <div>Tweets</div>
            </div>

            <div list>

              <% tweets.forEach( function( tweet ) { %>

              <div id="<%= tweet._id %>" tweet layout-vertical>

                <div header layout-horizontal>

                  <span author-name><strong><%= tweet.user.name %></strong></span>
                  <a author-handle href="/<%= tweet.user.username %>">@<%= tweet.user.username %></a>
                  <span time="<%= tweet.timestamps.created %>"></span>
                  <span flex></span>

                  <% if ( tweet.user.username === self.username ) { %>
                  <span remove-tweet>X</span>
                  <% } %>

                </div>

                <div text><%= tweet.text %></div>

              </div>

              <% } ); %>

            </div>

          </div>

        </div>
      </div>
    </div>

    <script src="./moment/min/moment.min.js"></script>
    <script src="./fritter.js"></script>
    <script src="./autoresize-textarea.js"></script>
    <script src="./controllers/scaffoldController.js"></script>
    <script src="./controllers/timeFormatController.js"></script>
    <script src="./controllers/tweetController.js"></script>
    <script src="./controllers/profileController.js"></script>

  </body>

</html>
